/*business*/
#business{
    margin-top: 50px;
    color: white;
    clear: both;
    position: relative;
    overflow: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#business-text{
    position: absolute;
    top: 50px;
    width: 90%;
    padding-left: 30px;
}

/*container*/
.boundcontainer{
    justify-content: center;
}

/*img và icon*/
 #icon1 {
    position: absolute;
    top: 25%;
    left: -15px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
#icon2{
    position: absolute;
    top: 70%;
    left: -15px;
    width: 30px;
    -moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
img{
    width: 100%;
    display: block;
}
#img2{
    height: 100%;
}
#img1 #img2{
    margin: 0;
}
/*bus1 và bus2*/
.bus1 , .bus2{
    padding: 0px;
    clear: both;
}
/**/
#aboutus, #news, #contact{
clear: both;
position: relative;
overflow: auto;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
justify-content: space-around;

}
/*media*/
@media (max-width: 991px) {
    #business-text{
        left: 15px;
        font-size: 70%;
    }
    .header-menu > h2 >a{
        font-size: 85%;
        }
    .bg-primary{
        background-color: #007bff !important;
    }
    
    
}
/*màn hình cho laptop từ 992px trở lên*/
@media (min-width: 992px) {
    #business-text{
        left: -2px;
    }
    .column3 > p {
        font-size:1.3em;
        }
    #submit2 {
        left: 59%;
        top: 82%;
    }
    .column3 {
        width:47%;
        float:left;
        border:1px solid #ccc;
        margin:20px 20px 15px 0px;
    }
    .bg-primary{
        background-color: #007bff !important;
    }
    .text-light {
        color: #f8f9fa !important;
      }
      .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
      } 
    .thumbnail_caption{
        margin-left:55px;
      }
    .căn-chỉnh-trái{
        padding-left:55px;
        padding-right:30px;
    }
    .căn-chỉnh{
        left:30px;
    }
    .căn-chỉnh-phải{
        left:0px;
    }
    .company-name{
        margin-left:9px;
    }
    .send-message{
        margin-left:235px;
        width:120%;
        text-align: left;
        color: #f8f9fa ;
    }
    .contact-info{
        margin-left:55px!important;
    }
    

}
/*màn hình cho laptop từ 1200px trở lên*/
@media (min-width: 1200px){
    .căn-chỉnh-trái{
        padding-left:40px;
        padding-right:0px;
    }
    .thumbnail_caption{
        margin-left:40px;
      }
    .căn-chỉnh{
        left:0px;
    }
    .căn-chỉnh-phải{
        margin-left:40px;
    }
    .company-name{
        margin-left:-20px;
    }
    .send-message{
        margin-left:345px;
        width:100%;
        text-align: left;
        color: #f8f9fa ;
    }
    .contact-info{
        margin-left:40px!important;
    }
    #submit2 {
        left: 70%;
        top: 75%;
    }
    

}
/*màn hình cho điện thoại*/
@media (max-width: 575px) {
    .bus2{
    height: 55vh;
}
.thumbnail_caption{
    margin-left:0px;
  }
  .căn-chỉnh-trái{
    padding-left:0px;
    padding-right:0px;
}
    .header-menu{
        background-color: white;
        justify-content: center;
        padding: 8 100px;
    }
    .btn-light {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
      }
    .bg-light {
    background-color: #f8f9fa !important;
    }
    .text-primary {
        color: #007bff !important;
      }
    .company-name{
        margin-left:-25px;
    }
    .send-message{
        margin-left:200px !important;
        width:45%;
        text-align: left;
        color: #f8f9fa !important;
    }
    .contact-info{
        margin-left:-15px!important;
        
    }
    .form-control {
        display: block;
        width: 92%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    

}
    

@media (max-width: 768px) {
    #submit2 {
        left: 72%;
        top:75%;
    }
    .column3 {
        width:100%;
        float:left;
        border:1px solid #ccc;
        margin:20px 98px 15px 0px;
    }
    
    
}   
/*màn hình cho tablet*/
@media (min-width:768px) and (max-width:992px) {
    #submit2 {
        left: 89%;
        top:69%;
    }
    .column3 {
        width:35%;
        margin:20px 98px 15px 0px;
        float:left;
        border:1px solid #ccc;
    
    }
    .form-control {
        display: block;
        width: 103%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    .bg-primary{
        background-color: #007bff !important;
    }
    .text-light {
        color: #f8f9fa !important;
      }
    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
      }
      .thumbnail_caption{
        margin-left:5px;
      }
    .company-name{
        margin-left:20px;
    }
    .send-message{
        margin-left:515px;
        width:65%;
        text-align: left;
        color: #f8f9fa ;
    }
    .contact-info{
        margin-left:40px!important;
    }
}
#submit2 {
    min-width:10%;
    position:absolute;
}

.gachngang-xanh {
    border-bottom:5px solid #0032bfeb;
}
.gachngang-trang {
    border-bottom:5px solid white;
}

 /*GACH NGANG DE MUC*/
#home_page .gachngang-xanh {
    border-bottom:5px solid #0032bfeb;
    width:30px;
    float:left;
    margin:10px 10px 0 0;

}

#home_page .gachngang-trang {
    border-bottom:5px solid white;
    width:30px;
    float:left;
    margin-top:21px;
    margin-right:10px;
}



/********ABOUT PAGE *******/
#about_page .about_title {
    text-align:center;
    
}

#about_page .gachngang-xanh {
    border-bottom:5px solid #0032bfeb;
    width:50px;
    display:block;
    margin:auto;
}

#about_page .thumbnail_caption, .thumbnail_text{
    width:202px;
    text-align:center;
}

#about_page .thumbnail_caption p:first-child {
    font-weight:600;
    font-size:1.2rem;
}

#about_page div.col-md-10 a {
    color:orange;
}




/********BUSINESS PAGE *******/
#business_page .business_title {
    text-align:center;
}

#business_page .gachngang-xanh {
    border-bottom:5px solid #0032bfeb;
    width:169px;
    display:block;
    margin:auto;
}
/********CONTACT PAGE *******/
#contact_page .contact_title {
    text-align:center;
}

#contact_page .gachngang-xanh {
    border-bottom:5px solid #0032bfeb;
    width:50px;
    display:block;
    margin:auto;
}
#contact_page .form-control {
    width:100%;
}

#contact_page b.form_title {
    width:125px;
    font-size:13px;
}


#contact_page img {
    width:100%;
}

#contact_page .btn {
    color:white;
}


/*NEWS*/


#news img {
    width:100%;
    height:auto;
    
}

#news a {
    text-decoration: none;
    color:black;
}

#news .column3 {
    border:1px solid #ccc;
}
/********NEWS PAGE *******/
#news_page .news_post {
    background-color:#0032bfeb;
    width:100%;
    padding-top:10px;
    padding-bottom:5px;
    color:white;
}

#news_page .news_post_content {
    
    padding:15px;
    background-color:#cccccc38;
    height:160px;
    border-top:1px solid #ccc;
}

#news_page .news_post_content img {
    width:100%;
    height:130px;

}

#news_page .content_column1 {
float:left;
width:40%;
}


#news_page .content_column2 {
float:left;
width:55%;
text-align:left;
margin-left:10px;

}

#news_page .column3 > p {
    font-size:23px;
}



    
 

